html, body{
font-family: Helvetica;
margin: 0;
background-color: #24478f;

}

header{ 
background-color: #262626;
padding: 40px;
text-align: center;
}

h1{
font-size: 90px;
color: white;
text-shadow: 10px 8px 30px black;
}

header img{
border-radius: 200px;
height: 350px;
width:  350px;
border: 25px solid #cc8800;
box-shadow: 10px 8px 30px black;
}

.content{
max-width: 758px;
margin: 0 auto;
padding: 0 20px;
color: white;
}

h2{
text-align: center;
}

p{
	margin: 0 auto;
	text-align: center;
	max-width: 500px;
}

ol{
	text-align: center;
	list-style: none;
	padding: 0;
}

ol li{
	border-radius: 25px;
	background-color: #85a3e0;
	padding: 10px;
	margin: 10px;
}

img.big-image{
max-width: 100%;
}

p.caption{
font-size: 16px;
color: lightgrey;
font-style: italic;
margin-left: 0;
}

ul{
	list-style: none;
	
}

ul li{
	border-radius: 25px;
	text-align: center;
	background-color: #85a3e0;
	padding: 10px;
	margin: 10px;
}

a{
	color: white;
	text-decoration: none;
}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #d9d9d9;
}

footer ul{
	text-align: center;
}

footer ul li{
	background-color: #d9d9d9;
	display: inline-block;
	margin: 0 10px;
}
